.footer {
  background-color: rgb(214, 214, 214);
  width: 100%;
}
.footer-containerDiv {
  display: flex;
}
.footer-containerDiv-section {
  width: 23%;
  margin: 10px;
}
.footer-containerDiv-sectionList {
}
.footer-containerDiv-sectionTitle {
  color: #0e2368;
  font-size: 18.84px;
  font-family: Source Sans Pro;
  font-weight: 600;
  line-height: 27.22px;
  letter-spacing: 0.57px;
  word-wrap: break-word;
}
.footer-containerDiv-sectionListItem {
  color: #646874;
  font-size: 14.66px;
  list-style: none;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 23.03px;
  word-wrap: break-word;
}
#social {
  display: flex;
}
#social-list {
  margin-right: 30px;
}
